#body {
    background-color: #272727;
}

/* Basic label */

i {
    margin: 0 auto;
}
code {
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
}

/* Sidebar, Service block */

.sidebar {
    width: 100%;
    padding: 20px;
}
.sidebar .right {
    float: right;
}
.sidebar i {
    padding-right: 10px;
}
.sidebar a {
    padding: 5px;
    color: white;
    text-decoration: none;
    background-color: #6CA0DC;
}
.sidebar a:hover {
    text-decoration: none;
}
.container .wdhost {
    background: linear-gradient(to right, #5DADE2, #2ECC71);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container h1, p {
    color: white;
    text-align: center;
}
.col-sm-6 {
    max-width: 95%;
}
.col-sm-6, .col-lg-3 {
    margin: 10px;
    height: 300px;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #1B1B1B;
}
.col-sm-6 h2, .col-lg-3 h2 {
    font-weight: bold;
}
.col-sm-6 span, .col-lg-3 span {
    color: gainsboro;
}
.d-flex.flex-column {
    justify-content: space-between;
}
.d-flex.flex-column > a { /* <a> position */
    margin-top: auto;
    margin-bottom: 10px;
}
.col-sm-6 a, .col-lg-3 a {
    width: 200px;
    padding: 5px;
    color: white;
    margin: 0 auto;
    background-color: #6CA0DC;
}
.col-sm-6 a:hover, .col-lg-3 a:hover {
    color: white;
    transition: 1s;
    text-decoration: none;
    background-color: #415A8B;
}

/* Footer */

footer {
    color: white;
    background-color: #1B1B1B;
}
footer .footer-social-media a {
    width: 35px;
    height: 35px;
    color: white;
    font-size: 20px;
    margin-left: 3px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: all .25s;
    display: inline-block;
    background-color: #33383B;
}
footer .footer-social-media a:hover {
    transform: scale(1.1); 
    -webkit-transform: scale(1.1);
}