#body {
    background-color: #272727;
}

/* Basic label */

i {
    margin: 0 auto;
}
code {
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
}

/* Sidebar, Service block */

.sidebar {
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    position: fixed;
    align-items: center;
}
.sidebar i {
    padding-right: 10px;
}
.sidebar a {
    padding: 5px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    background-color: #6CA0DC;
}
.sidebar a:hover {
    text-decoration: none;
}
.container h1, p {
    color: white;
    text-align: center;
}
.col-sm-6 {
    max-width: 95%;
}
.col-sm-6, .col-lg-3 {
    margin: 10px;
    height: 300px;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #1B1B1B;
}
.col-sm-6 h2, .col-lg-3 h2 {
    font-weight: bold;
}
.col-sm-6 span, .col-lg-3 span {
    color: gainsboro;
}
button {
    border: none;
    padding: 5px;
    margin-top: 20px;
    background-color: #6CA0DC;
}
button:hover {
    transition: 1s;
    background-color: #3498DB;
}

/* Footer */

footer {
    color: white;
    background-color: #1B1B1B;
}