#body {
    background-color: #272727;
}

/* Basic label */

a {
    color: #6CA0DC;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
i {
    margin: 0 auto;
}
code {
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
}

/* Sidebar, Service block */

.sidebar {
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    position: fixed;
    align-items: center;
}
.sidebar i {
    padding-right: 10px;
}
.sidebar a {
    padding: 5px;
    color: white;
    border-radius: 5px;
    background-color: #6CA0DC;
}
.intro h1, p {
    text-align: center;
}
.col-sm-6 {
    max-width: 95%;
}
.col-sm-6, .col-lg-3 {
    border-color: #6CA0DC;
}
.col-sm-6 h2, .col-lg-3 h2 {
    font-weight: bold;
}
.col-sm-6, .col-lg-3 {
    padding: 20px;
    color: white;
    border-radius: 5px;
    background-color: #1B1B1B;
}
.col-sm6, .col-lg-3 button {
    border: 0;
    width: 150px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
    background-color: #6CA0DC;
}

/* Footer */

footer {
    color: white;
    background-color: #1B1B1B;
}